{% extends 'layout.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bank App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% endblock %}        
    
    {% block content %}
    <div class="container">
        <h1 class="mt-5">Bank App Login</h1>
    
        <form class="mt-4" method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <p>Does not have an account? <a href="{{ url_for('register') }}">Register</a></p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    
        <div class="mt-4">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-{{ 'success' if message.category == 'success' else 'danger' }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

</body>
</html>
